<%= form_for @song , url: {action: "create"} do |song|  %>
	<p>
		<%= song.label :title %>
		<%= song.text_field :title %>
	</p>
	<p>
		<%= song.label :artist %>
		<%= song.text_field :artist %>
	</p>
	<p>
		<%= song.label :album %>
		<%= song.text_field :album %>
	</p>
	<p>
		<%= song.file_field :musicfile %>
	</p>
	<!-- this may be useless: -->
	<%= song.hidden_field :user_id %>
	<p> 
		<%= song.submit  "Upload" %>		
	</p>
<% end %>
