<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<audio id="player" src="1.mp3" type="audio/mpeg" controls="controls">
  Not supported
</audio>


<hr>

<%= link_to "New" ,  new_dashboard_path %>

<hr>

<table border="1">
	<tr>
		<td>
			title
		</td>
		<td>
			album
		</td>
		<td>
			artist
		</td>
		<td>
			musicfile
		</td>
	</tr>
<% @songs.each do |song| %>
	<tr>
		<td>
			<%= song.title %>
		</td>
		<td>
			<%= song.album %>
		</td>
		<td>
			<%= song.artist %>
		</td>
		<td>
			<%= song.musicfile %>
		</td>
	</tr>
<% end %>
</table>


