<h4> Melodii ce contin textul: </h4> 
<strong> <%=  @searchstring  %></strong>
<table class="table table-hover">
	<tr>
		<td><b>
			Title</b>
		</td>
		<td><b>
			Album</b>
		</td>
		<td><b>
			Artist</b>
		</td>
		<td><b>
			Genre</b>
		</td>
		<td><b>
			Track</b>
		</td>
		<td><b>
			Year</b>
		</td>
		<td><b>
			Play</b>
		</td>
	</tr>
<% @songs.each do |song| %>
	<tr>
		<td>
			<%= song.title %>
		</td>
		<td>
			<%= song.album %>
		</td>
		<td>
			<%= song.artist %>
		</td>
		<td>
			<%= song.genre %>
		</td>
		<td>
			<%= song.track %>
		</td>
		<td>
			<%= song.year %>
		</td>
		
		<td>
			<%= link_to "Play", searchbar_path(song.id) %>
		</td>
	</tr>
<% end %>
</table>
